@page
@model HTML1.Pages.homeModel
@{
}

<div style="background-color:black;color:white">
    <header>
        <div class="text-center">
            <h1>Navigation</h1>
            <p><a href="home">home</a></p>
            <p><a href="portfolio">portfolio</a></p>
            </div>
        </header>
    <p>I am <b><font size = "6" color = "red">The Brain</font></b> the smartest sentient creature in the universe.</p>
    <p>Now, you may say, "Well what about Rick Sanchez?" Yes, well, you forget - ythat dunderhead is merely the smartest <i>man</i> in the universe.
        I am a mouse.</p>
    <p>If you wish to contact me, you may write Warner Bros Entertainment Inc 4000 Warner Blvd Bldg 47, Burbank, CA 91522.</p>
    <p>These buffoons have been documenting my excursions for years in an attempt to exploit me for profit. Well, when I am the ruler of the world,
        they'll be lucky to be my shoe shine boys...</p>
    <footer>  
        @@Copyright <b><font color = "green">GWzzrd</font></b> 2020- All Right Reserved. (Don't copy me.) 
    </footer>