@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="background-color:black;color:white">
    <header>
        <div class="text-center">
            <h1>Navigation</h1>
            <p><a href="about">about</a></p>
            <p><a href="portfolio">portfolio</a></p>
        </div>
     </header>
            <p><font size = "5"><b>Section1:</b></font><p> I am a lab mouse. I escaped from my cage. Never had a job. Never earned minimum wage.</p>
            <p><font size = "5"><b>Section2:</b></font><p> But you will respect me - YES! </p>
        <ul>
            <li>Once my plan is unfurled.
            <li>You'll call me your leader.
            <li>I'll be king of the world.
        </ul>
    <p><font size = "5"><b>Section3:</b></font><p> For any who care. I hail from AcmeLabs, Anytown, USA.</p>
    <footer>  
        @@Copyright <b><font color = "green">GWzzrd</font></b> 2020- All Right Reserved. (Don't copy me.) 
    </footer>  
    
</div>
