@page
@model HTML1.Pages.portfolioModel
@{
}
<div style="background-color:black;color:white">
    <header>
        <div class="text-center">
            <h1>Navigation</h1>
            <p><a href="home">home</a></p>
            <p><a href="about">about</a></p>
            </div>
        </header>
        <p>In my plans to take over the world I <i>have</i>:</p>
        <ol>
            <li>become a country music star to record subliminal messages in my songs, making my fans <i>unconditionally</i> loyal.
            <li>raised sentient vegetables to terrorize humanity into submission.
            <li>bought every property in the world above its 39th floor with plans to melt the polar ice caps using the Hubble Space Telescope. 
                The survivors would be forced to live in my legally owned property.
            <li>created a fictional island nation in an attempt to exploit the United States for billions in foreign aid so I could build a giant 
                clothes dryer to enslave humanity with static electricity.
            <li>created a papier-mâché replica of Earth and lured the planet’s entire population to it with the promise of free t-shirts.
        </ol
        </br>
        <p>Of course the list goes on and on...</p>
    <footer>  
        @@Copyright <b><font color = "green">GWzzrd</font></b> 2020- All Right Reserved. (Don't copy me.) 
    </footer>
</div>